{% extends "location/base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="alert alert-warning">
        <h4>Documents manquants</h4>
        <p>Vous devez fournir les documents suivants pour accéder au tableau de bord :</p>
        <ul>
            <li>Assurance</li>
            <li>Carte grise</li>
        </ul>
        <p>
            <a href="{% url 'upload_verification' %}" class="btn btn-primary">
                Télécharger les documents
            </a>
        </p>
    </div>
</div>
{% endblock %}